[Unit]
Description=OpenSSH server daemon
After=syslog.target network.target auditd.service

[Service]
ExecStartPre=/usr/bin/ssh-keygen -A
ExecStart=/usr/sbin/sshd -D -e -p 222 -f /etc/ssh/dca_sshd_config
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
